name: iOS Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Build
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug
          
          # ESTO ES LO IMPORTANTE: Listar todo para ver dónde quedó
          echo "--- BUSCANDO EL TESORO ---"
          find . -name "*.framework"
          
      - name: Subir Todo lo que huela a iOS
        uses: actions/upload-artifact@v4
        with:
          name: ios-debug-files
          # Vamos a subir TODA la carpeta build para que no haya pierde
          path: "**/build/bin/"